<a href="https://colab.research.google.com/github/Amrithraj7/LEARN.-PI/blob/main/TASK_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python program to find those numbers which are divisible by 7 and multiple of 11, between 1000 and 2000 (both included).

In [135]:
lower=1000
upper=2000
for i in range(lower, upper+1):
    if(i%7==0 and i%11==0):
        print(i)

1001
1078
1155
1232
1309
1386
1463
1540
1617
1694
1771
1848
1925

2. Write a program to print this pattern

           #
          ## 
         ###

In [136]:
num=3
i =1
for i in range(i, num+1):
   print("  "*(num-i)+"# "*i)

    #
  # #
# # #

3. list=[apple, orange, apple, banana]
. Replace all the apple in the list with grapes using for loop

In [142]:
list=['apple','orange','apple','banana']
for i,word in enumerate(list):
      if word == 'apple':
           list[i] = 'grapes'
print(list)

['grapes', 'orange', 'grapes', 'banana']